.ContainerAsso {
    width : 50%;
    margin: 10% auto ;
}


a {
    color: green;
}

.FAQ {
    border : 1px solid red
}



.titre {
    color: green;
    text-align: center;
}

h3 {
    text-align: center;
    color: green;
}


.AssoMenubar {
    gap: 20px;
    justify-content: center;
}

.AssoMenubar button {
    justify-content: center;
}

.NumberSeaSheperd {
    border: 1px solid black;
    margin-top: 15px;
    padding-left: 10px;
    width: 768px;
    height: 118px;
}

.NumberLpo {
    border: 1px solid black;
    margin-top: 15px;
    padding-left: 10px;
    width: 742px;
    height: 120px;
}

.NumberWWF {
    border: 1px solid black;
    margin-top: 15px;
    padding-left: 10px;
    width: 768px;
    height: 166px;
}

.fdf {
    width: 160px;
}

.lpo {
    width: 160px;
    height: 174px;
}

.ButtonSite {
    background-color: green;
    border-color: green;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.AnimalsPictures {
    width: 384px;
    height: 256px;
}






/* .AssoMenubar li {
    border: 1px solid black;
    padding: 5px;
} */


/* .AssoMenubar li a {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.AssoMenubar li a:hover{
    background-color: green;
} */


