

.ContainerAsso {
    width : 50%;
    margin: 10% auto ;
}

.ContainerAsso p, ul, li{
    text-align: justify;
}

a {
    color: var(--varSecondaire);
}



h1 {
    font-size: 4rem;
    font-family: "Caveat", cursive;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2.8rem;
    text-align: center;
    font-family: "caveat", cursive;
    padding: 1.4rem;
}

h3 {
    font-family: "caveat", cursive;
    text-align: center;
    color:var(--varSecondaire);
    font-size: 1.9rem;
    margin: 20px 0 20px;
}

.fdf, .Sea_Sheperd, .lpo, .wwf, .LogoTFTP,.sea_cleaners{
    width: 25%;
    filter: drop-shadow(2px 2px 0px var(--varGrisclair));
    -webkit-filter: drop-shadow(2px 2px 0px var(--varGrisclair));
}

img{
    display: block;
    margin: auto;
    padding-top:22px ;
}

iframe{
    width: 100%;
}

.toggle div{
    line-height: 1.5;
    
}
.toggle div p{
    font-family: 'Quicksand', cursive;
}

.ButtonSite + p{
    padding: 1.7em 0;
}

.container_button_site{
    width: 100%;
   display: flex;
   justify-content: center;
}

.assoMenuBar {
    gap: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.assoMenuBar button {
    border: 1px solid var(--varTertiaire);
    font-size: 0.8rem;
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1%;
    min-width: 50px;
}

.assoMenuBar button:hover {
    background : var(--varSecondaire);
}

.stats_section {
    border: 1px solid var(--varTertiaire);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 15px;
    margin: 20px;
    line-height: 1.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.stats_section h4 {
    color: var(--varSecondaire);
    font-size: 1.5rem;
}


.en_savoir_plus{
    text-decoration: underline;
}

.ButtonSite {
    padding : 0.60em 0.90em;
    background-color: var(--varSecondaire);
   color: var(--varTertiaire);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-shadow:1px 1px 5px var(--varNoirExtra);
    font-weight: bold;
}

.AnimalsPictures {
    width: 384px;
    height: 256px;
}

.container_link{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 40px;

}
.container_link a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.90em;
    background-color: var(--varSecondaire);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
color: var(--varTertiaire);
text-shadow: 1px 1px 5px var(--varNoirExtra);
}


@media screen and (max-width:1076px){
    .ContainerAsso{
        width: 100%;
        padding: 0 10%;
    }

    .FdF a:nth-last-child(1){

        display: block;
        text-align: start;
    }
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.6rem;
    }
}




